<div>

  <div>
    <div class="list">
      <div class="list-group">
        <div class="list-group-item">
          <h3 class="session-title" style="float: none; margin-bottom: 0px;">
                <a href="#/app/patients">
                  <span class="gray">Patient:</span>
                  <span ng-if="machine.session.patient.firstName || machine.session.patient.lastName" class="white">
                    {{ machine.session.patient.firstName }} {{ machine.session.patient.lastName }}
                  </span>
                  <span ng-if="!machine.session.patient.firstName && !machine.session.patient.lastName">-</span>
                </a>
            </h3>
        </div>
        <div class="list-group-item center">
            <h3 class="session-title">
              Knee Angle
            </h3>
            <h1 class="session-number">
              <span ng-if="machine.angle != undefined" class="one-height">
                {{ machine.angle | number : 0 }}&deg;
              </span>
              <span ng-if="machine.angle == undefined">-</span>
            </h1>
        </div>
        <div class="list-group-item center">
            <h3 class="session-title">
              Hold Time
            </h3>
            <h1 class="session-number" ng-class="{orange: machine.session.holdTime >0 && machine.session.holdTime < machine.holdTimeConfig, green: machine.session.holdTime >= machine.holdTimeConfig}">
              <span ng-if="machine.session.holdTime != null" class="one-height">
                {{ machine.session.holdTime | secondsToDateTime | date:'mm:ss'}}
              </span>
              <span ng-if="machine.session.holdTime == null">-</span>
            </h1>
        </div>
        <div class="list-group-item">
          <h3 class="session-title" style="float: none; margin-bottom: 0px;">
              Total Time:
              <span ng-if="machine.session.sessionTime != null" class="white">
                {{ machine.session.sessionTime | secondsToDateTime | date:'mm:ss'}}
              </span>
              <span ng-if="machine.session.sessionTime == null">-</span>
              <button class="btn btn-primary btn-sm" ng-click="resetSession();" style="float: right;">
                RESET
              </button>
          </h3>

          <div id="currentChart" class="clear" style="height: 180px;">
            Chart goes here
          </div>


        </div>

        <div class="list-group-item">
          <button class="btn btn-block btn-primary bigger" ng-click="stopSession();">Stop Session</button>
        </div>

        <!--<div class="list-group-item">-->
          <!--<button class="btn btn-primary bigger" ng-click="joystickDown();">Down</button>-->
          <!--<button class="btn btn-primary bigger" ng-click="joystickStop();">Stop</button>-->
          <!--<button class="btn btn-primary bigger" ng-click="joystickUp();">Up</button>-->
        <!--</div>-->

      </div>

        <!--<div class="list-group-item center">
          <span>Low Angle</span>
          <h1>{{ machine.session.lowAngle | number : 0 }}&deg;</h1>
        </div>
        <div class="list-group-item center">
          <span>High Angle</span>
          <h1>{{ machine.session.highAngle | number : 0 }}&deg;</h1>
        </div>
        <div class="list-group-item center">
          <h1>{{ machine.session.repetitions | number : 0 }}</h1>
          <span>Repetitions</span>
        </div>-->

      <!--<div class="item item-divider">
          Machine State
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          Motor Switch: {{ machine.motorSwitch }}
        </div>
        <div class="item item-text-wrap">
          Rotation Motor: {{ machine.rotationMotor }}
        </div>
      </div>

      <div class="item item-divider">
        Joystick: {{ machine.joystick | number : 2 }} V
      </div>
      <div class="item">
        <div class="item range">
          <i class="icon glyphicon glyphicon-backward"></i>
          <input type="range" ng-model="machine.joystickSlider" min="0" max="500" value="250" ng-change="updateJoystick()">
          <i class="icon glyphicon glyphicon-forward"></i>
        </div>
      </div>

      <div class="item">
        <!--<button class="button icon-left button-calm" ng-click="stop()">-->
          <!--<i class="icon ion-stop"></i>-->
          <!--Stop Session-->
        <!--</button>-->
      <!--
        <button class="button icon-left button-calm" style="float: right;" ng-click="reset()">
          <i class="icon glyphicon glyphicon-refresh"></i>
          Reset
        </button>
      </div>-->
    </div>
  </div>
</div>
