<div style="padding-top: 15px;">

  <div>
    <div class="list">
      <div class="list-group">
        <div class="list-group-item">
          <h3 class="session-title" style="float: none; margin-bottom: 0px;">
                <a href="#/app/patients">
                  <span class="gray">Patient:</span>
                  <span ng-if="machine.session.patient.firstName || machine.session.patient.lastName" class="white">
                    {{ machine.session.patient.firstName }} {{ machine.session.patient.lastName }}
                  </span>
                  <span ng-if="!machine.session.patient.firstName && !machine.session.patient.lastName">-</span>
                </a>
            </h3>
        </div>
        <div class="list-group-item center">
            <h3 class="session-title">
              Knee Angle
            </h3>
            <h1 class="session-number">
              <span ng-if="machine.angle != undefined" class="one-height">
                {{ machine.angle | number : 0 }}&deg;
              </span>
              <span ng-if="machine.angle == undefined">-</span>
            </h1>
        </div>
        <div class="list-group-item center">
            <h3 class="session-title">
              Hold Time
            </h3>
            <h1 class="session-number" ng-class="{orange: machine.session.holdTime >0 && machine.session.holdTime < machine.holdTimeConfig, green: machine.session.holdTime >= machine.holdTimeConfig}">
              <span ng-if="machine.session.holdTime != null" class="one-height">
                {{ machine.session.holdTime | secondsToDateTime | date:'mm:ss'}}
              </span>
              <span ng-if="machine.session.holdTime == null">-</span>
            </h1>
        </div>
        <div class="list-group-item">
          <h3 class="session-title" style="float: none; margin-bottom: 0px;">
              Total Time:
              <span ng-if="machine.session.sessionTime != null" ng-class="{'white' : $machine.session.timerAlarmTriggeredCount == 0, 'text-danger': $machine.session.timerAlarmTriggeredCount > 0}">
                {{ machine.session.sessionTime | secondsToDateTime | date:'mm:ss'}}
              </span>
              <span ng-if="machine.session.sessionTime == null">-</span>
              <button class="btn btn-primary btn-sm" ng-click="resetSession();" style="float: right;">
                RESET
              </button>
          </h3>

          <div id="currentChart" class="clear" style="height: 225px;">
            Chart goes here
          </div>


        </div>

        <div class="list-group-item">
          <button class="btn btn-block btn-primary bigger" ng-click="stopSession();">Stop Session</button>
        </div>
      </div>

    </div>
  </div>
</div>
