<ion-view view-title="Therapy Pi Demo">

  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Session Info
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Angle:</div>
            <div class="col col-50">25</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          Hold Time: -
        </div>
        <div class="item item-text-wrap">
          Session Time: 08:34
        </div>
      </div>

      <div class="item item-divider">
          Machine State
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          Active Motor:
        </div>
        <div class="item item-text-wrap">
          Motor Speed:
        </div>
        <div class="item item-text-wrap">
          Seat height: 100%
        </div>
      </div>

      <div class="item item-divider">
        Joystick
      </div>
      <div class="item">
        <div class="item range">
          <i class="icon ion-ios-rewind"></i>
          <input type="range" name="volume" min="-127" max="127" value="0">
          <i class="icon ion-ios-fastforward"></i>
        </div>
      </div>

      <div class="item">
        <button class="button icon-left button-calm">
          <i class="icon ion-ios-reload"></i>
          Reset
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
