<ion-view view-title="Therapy Pi Demo">

  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Session Info
      </div>
      <div class="card">
        <div class="item item-text-wrap">
            Angle: {{ machine.angle }}
        </div>
        <div class="item item-text-wrap">
          Hold Time: {{ machine.holdTime }}
        </div>
        <div class="item item-text-wrap">
          Session Time: {{ machine.sessionTime }}
        </div>
      </div>

      <div class="item item-divider">
          Machine State
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          Active Motor: {{ machine.activeMotor }}
        </div>
        <div class="item item-text-wrap">
          Lift Motor: {{ machine.liftMotor }}
        </div>
        <div class="item item-text-wrap">
          Rotation Motor: {{ machine.rotationMotor }}
        </div>
        <div class="item item-text-wrap">
          Seat height: {{ machine.seat }}%
        </div>
      </div>

      <div class="item item-divider">
        Joystick: {{ machine.joystick }}
      </div>
      <div class="item">
        <div class="item range">
          <i class="icon ion-ios-rewind"></i>
          <input type="range" ng-model="machine.joystick" min="-1024" max="1024" value="0" ng-change="updateJoystick()">
          <i class="icon ion-ios-fastforward"></i>
        </div>
      </div>

      <div class="item">
        <!--<button class="button icon-left button-calm" ng-click="stop()">-->
          <!--<i class="icon ion-stop"></i>-->
          <!--Stop Session-->
        <!--</button>-->
        <button class="button icon-left button-calm" style="float: right;" ng-click="reset()">
          <i class="icon ion-ios-reload"></i>
          Reset
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
