
<div>
    <div style="padding-top: 10px; padding-left: 10px; float: left;">
        <a href="#/app/current">
            <img height="50" src="/img/logo.png"/>
        </a>
    </div>
    <div style="float: right;">
        <a href="#/app/settings">
            <span style="font-size: 30px; padding-top: 20px; padding-right: 20px; color: #c8c8c8;" class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <span style="clear: both;"></span>
</div>

<div ui-view="menuContent" class="container" style="clear: both"></div>

<div>

</div>
