<div>
  <div class="bar-subheader" style="height: 60px; border-bottom: 0px; top: 37px;">
    <button style="height: 50px;" class="btn btn-lg btn-block btn-primary" ng-if="!showNewPatientForm" ng-click="addPatient()">New Patient</button>
  </div>

  <div style="top: 110px;">

    <div class="list" ng-if="showNewPatientForm">
      <form>
        <div class="form-group">
          <label for="firstName">
            <span class="input-label"><h4>First Name</h4></span>
          </label>
          <input id="firstName" type="text" class="form-control input-lg" ng-model="newPatient.firstName" placeholder="First Name" ng-virtual-keyboard />
        </div>
        <div class="form-group">
          <label for="lastName">
            <span class="input-label"><h4>Last Name</h4></span>
          </label>
          <input id="lastName" type="text" class="form-control input-lg" ng-model="newPatient.lastName" placeholder="Last Name" ng-virtual-keyboard />
        </div>
        <br/>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-block btn-lg btn-primary" ng-click="createPatient()">
               Add Patient
            </button>
          </div>
          <br/>
          <div class="col-md-6">
            <button class="btn btn-block btn-lg btn-default" ng-click="cancel()">
               Cancel
            </button>
          </div>
        </div>
      </form>
    </div>

    <br/>
    <div ng-if="!showNewPatientForm">
      <center ng-if="!patients.list || patients.list.length == 0" style="margin-top: 40px;">
        No Patients Found
      </center>
      <div ng-if="patients.list && patients.list.length > 0" style="margin-bottom: 10px;">
        <form>
          <label class="item item-input" style="width: 85%">
            <input type="text" placeholder="Search" ng-model="form.search" class="form-control input-lg" ng-virtual-keyboard/>
          </label>
          <button ng-if="form.search.length" class="input-button btn btn-primary btn-lg btn-icon glyphicon glyphicon-remove" ng-click="clearSearch()"></button>
        </form>
      </div>
      <br/>
      <ul class="list-group">
        <li ng-repeat="patient in patients.list track by $index" ng-if="showPatient(patient)" ng-click="patientSelected()" class="list-group-item">
          <a href="#/app/patient/{{patient.id}}">
            <span style="float: right;" class="glyphicon glyphicon-chevron-right"></span>
            <h3>{{ patient.lastName }}, {{ patient.firstName }}</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
