<div view-title="Patient">
  <div>
    <div class="list-group" class="clear">
      <div class="list-group-item">
        <a href="#/app/patients">
          <button class="btn btn-primary bigger">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Go Back
          </button>
        </a>
        <button class="btn btn-success bigger" style="float: right" ng-click="startNewSession();">
          Start Session
          <span class="glyphicon glyphicon-play-circle"></span>
        </button>
      </div>
      <div class="list-group-item center">
          <span class="bigger">
              <span class="white">{{ patient.firstName }} {{ patient.lastName }}</span>
          </span>
      </div>
      <div class="list-group-item bigger">
          <span>Goals:</span>
          <span class="inline-block right" style="width: 50px;">
            {{ patient.lowGoal }}
          </span>
          <span class="inline-block right" style="width: 50px;">
            {{ patient.highGoal }}
          </span>
          <button class="btn btn-primary bigger">Set</button>
      </div>
      <div class="list-group-item">
        <ul class="list-group" style="max-height: 500px; overflow-y: auto">
          <li ng-repeat="session in patient.sessions track by $index" class="list-group-item">
            <a href="#/app/session/{{session.id}}">
              <span class="glyphicon glyphicon-chevron-right right-icon"></span>
              <h3>
                {{ session.startDate }}
                &nbsp;
                &nbsp;
                &nbsp;
                <span ng-if="session.lowAngle != null && session.highAngle != null">
                  <span class="inline-block right" style="width: 50px;">{{ session.lowAngle }}</span>
                  <span class="inline-block right" style="width: 50px;">{{ session.highAngle }}</span>
                </span>
              </h3>
            </a>
          </li>
        </ul>
        <div id="sessionsChart" ng-if="!patient.sessions || patient.sessions.length == 0">
            <center><span>No Sessions</span></center>
        </div>
      </div>
    </div>


  </div>
</div>
