<div>

  <div class="list-group">

    <br/>
    <br/>
    <br/>
    <div class="list-group-item">
      <button class="btn btn-block btn-lg btn-primary bigger left" ng-click="sleep()">
        <span class="glyphicon glyphicon-unchecked"></span>
        Sleep
      </button>

      <button class="btn btn-block btn-lg btn-primary bigger left" ng-click="restart()">
        <span class="glyphicon glyphicon-repeat"></span>
        Restart
      </button>

      <button class="btn btn-block btn-lg btn-primary bigger left" ng-click="shutdown()">
        <span class="glyphicon glyphicon-off"></span>
        Shutdown
      </button>

      <br/>
      <br/>
      <br/>
      <button class="btn btn-block btn-lg btn-primary bigger" ng-click="goBack()">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span>Go Back</span>
      </button>
    </div>

  </div>

</div>
