<div view-title="Session">
  <div ng-if="sessionView.mode == 'normal'">
    <div class="list-group" class="clear">
      <div class="list-group-item">
        <a href="#/app/patient/{{session.patientId}}">
          <button class="btn btn-primary bigger">Go Back</button>
        </a>
      </div>
      <div class="list-group-item">
         <span class="bigger">{{ session.patient.firstName }} {{ session.patient.lastName }}</span>
      </div>
      <div class="list-group-item">
          <a ng-click="deleteSession()">
            <div class="glyphicon glyphicon-trash right-icon icon-small-line"></div>
          </a>
          <span class="bigger">{{ session.startDateTime }}</span> <br/>
          <span class="bigger">Total Time: {{ session.totalSeconds | secondsToDateTime | date:'mm:ss' }}</span> <br/>
      </div>
      <div class="list-group-item">
        <span class="bigger">Repetitions: {{ session.repetitions }}</span>
      </div>
      <div class="list-group-item bigger">
        <table style="background: none;">
          <tr>
            <td>Max Extension: </td>
            <td class="right"> &nbsp; {{ session.lowAngle }}&deg; </td>
            <td class="right"> &nbsp; ({{ session.lowHoldSeconds}}s) </td>
          </tr>
          <tr>
            <td>Max Flexion: </td>
            <td class="right"> &nbsp; {{ session.highAngle }}&deg; </td>
            <td class="right"> &nbsp; ({{ session.highHoldSeconds}}s) </td>
          </tr>
        </table>
      </div>
    </div>

  </div>


  <div ng-if="sessionView.mode == 'confirmDelete'">
    <div class="list-group-item">
      <div style="height: 40px;">
        <div class="alert alert-danger bigger" ng-if="sessionView.confirmError" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          {{ sessionView.confirmError }}
        </div>
      </div>
      <br/>
      <h2 class="white">Are you sure you want to delete this session?</h2>
      <br/>
      <button class="btn btn-block btn-lg btn-primary bigger" ng-click="deleteConfirm()">Yes</button>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="list-group-item">
      <a ng-click="cancelConfirm()">
        <button class="btn btn-block btn-lg btn-primary bigger">
          <span>Cancel</span>
        </button>
      </a>
    </div>
  </div>

</div>
