<div>

    <div class="list-group">

      <div ng-if="settings.mode == 'all'">
        <br/>
        <div class="list-group-item">
          <button class="btn btn-block btn-lg btn-primary bigger left" ng-click="changeCalibration()">
            <span class="glyphicon glyphicon-wrench"></span>
            Calibrate Machine
          </button>
          <br/>
          <form class="form-inline">
            <label for="holdTime">
              <h3>Hold Time (seconds):</h3>
            </label>
            <input id="holdTime" type="number" min="10" max="120" class="num num-input input-lg form-control bigger" ng-focus="holdFocus()" ng-model="settings.holdTimeConfig" />
            <button class="btn btn-primary bigger" style="margin-top: -10px" ng-click="setHoldTime();">Set</button>
          </form>
        </div>
        <div ng-if="settings.errorMsg" class="alert alert-danger bigger" role="alert">
            {{ settings.errorMsg }}
          </div>
        <div ng-if="settings.successMsg"  class="alert alert-success bigger" role="alert">
            {{ settings.successMsg }}
        </div>

        <div class="list-group-item">
          <div class="item range">
            <i class="icon glyphicon glyphicon-volume-off volume inline-block"></i>
            <input id="volume" type="range" class="volumeSlider" ng-model="machine.volume" min="50" step="10" max="100" value="100" ng-change="updateVolume()">
            <i class="icon glyphicon glyphicon-volume-up volume inline-block"></i>
          </div>
        </div>
        <br/>
        <div class="list-group-item">
          <center><span class="bigger">{{ machine.dateTime }}</span> </center>
          <button class="btn btn-block btn-lg btn-primary bigger left" ng-click="changeDateTime()">
            <span class="glyphicon glyphicon-calendar"></span>
            Date/Time Settings
          </button>
          <!--<button class="btn btn-block btn-lg btn-primary bigger left" ng-click="changeWifi()">-->
            <!--<span class="glyphicon glyphicon-signal"></span>-->
            <!--WiFi Settings-->
          <!--</button>-->
          <button class="btn btn-block btn-lg btn-primary bigger left" ng-click="changePassword();">
            <span class="glyphicon glyphicon-lock"></span>
            Change Password
          </button>
          <button class="btn btn-block btn-lg btn-primary bigger left" ng-click="clearDatabase();">
            <span class="glyphicon glyphicon-trash"></span>
            Clear Database
          </button>
        </div>
      </div>

      <div ng-if="settings.mode == 'password'">
        <br/>
        <div style="height: 55px;">
          <div class="alert alert-danger bigger" ng-if="settings.passwordError" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ settings.passwordError }}
          </div>
        </div>
        <br/>
          <form ng-submit="submitPassword()">
            <div class="form-group">
              <label for="password">
                <span class="input-label bigger">Password</span>
              </label>
              <input id="password" type="password" class="form-control input-lg bigger" ng-change="passwordChanged()" ng-model="settings.submittedPassword" ng-virtual-keyboard />
            </div>
            <button class="btn btn-block btn-lg btn-primary bigger" ng-click="submitPassword()">Submit</button>
          </form>
          <br/>
          <br/>
          <br/>
          <br/>
      </div>

      <div ng-if="settings.mode == 'changePassword'">
        <br/>
        <div style="height: 90px;">
          <div class="alert alert-danger bigger" ng-if="settings.passwordError" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ settings.passwordError }}
          </div>
        </div>
        <br/>
        <div class="form-group">
          <label for="password">
            <span class="input-label bigger">Current Password</span>
          </label>
          <input id="password" type="text" class="form-control input-lg bigger" ng-change="passwordChanged()" ng-model="settings.submittedPassword" ng-virtual-keyboard />
        </div>
        <div class="form-group">
          <label for="password">
            <span class="input-label bigger">New Password</span>
          </label>
          <input id="password" type="text" class="form-control input-lg bigger" ng-change="passwordChanged()" ng-model="settings.newPassword" ng-virtual-keyboard />
        </div>
        <button class="btn btn-block btn-lg btn-primary bigger" ng-click="submitChangePassword()">Submit</button>

          <br/>
          <br/>
          <br/>
          <br/>
      </div>

      <div ng-if="settings.mode == 'clearDatabase'">
        <br/>
        <div style="height: 55px;">
          <div class="alert alert-danger bigger" ng-if="settings.passwordError" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ settings.passwordError }}
          </div>
        </div>
        <br/>
        <div class="form-group">
          <label for="password">
            <span class="input-label bigger">Password</span>
          </label>
          <input id="password" type="password" class="form-control input-lg bigger" ng-change="passwordChanged()" ng-model="settings.submittedPassword" ng-virtual-keyboard />
        </div>
        <button class="btn btn-block btn-lg btn-primary bigger" ng-click="submitClearDatabase()">Clear Database</button>
          <br/>
          <br/>
          <br/>
          <br/>
      </div>

      <div ng-if="settings.mode == 'dateTime'">
        <div class="list-group-item">
        <h4>Date and Time will be set automatically if the machine is connected to Wifi.</h4>
        <label for="timeZone">
          <h3>Time Zone:</h3>
        </label>
        <select id="timeZone" ng-model="settings.timeZone" class="input-lg form-control bigger">
          <option value="America/New_York">Eastern (New York)</option>
          <option value="America/Chicago">Central (Chicago)</option>
          <option value="America/Denver">Mountain (Denver)</option>
          <option value="America/Los_Angeles">Pacific (Los Angeles)</option>
          <option value="America/Anchorage">Alaska (Anchorage)</option>
          <option value="America/Adak">Hawaii (Adak)</option>
        </select>
        <br/>
        <label>
          <h3>Date:</h3>
        </label>
        <br/>
        <form class="form-inline">
          <div class="form-group">
              <select id="month" ng-model="settings.month" class="input-lg bigger form-control form-control-inline">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <select id="day" ng-model="settings.day" class="input-lg bigger form-control form-control-inline">
                <option value="{{ n }}" ng-repeat="n in range(1,31)">{{ n }}</option>
              </select>
              <select id="year" ng-model="settings.year" class="input-lg bigger form-control form-control-inline">
                <option value="{{ n }}" ng-repeat="n in range(2017,2040)">{{ n }}</option>
              </select>
            </div>
          </form>
        <label>
          <h3>Time:</h3>
        </label>
        <br/>
        <select id="hour" ng-model="settings.hour" class="input-lg bigger form-control form-control-inline">
          <option value="{{ n }}" ng-repeat="n in range(0,23)">{{ n }}</option>
        </select>
          <span style="font-size: 35px;">:</span>
        <select id="minute" ng-model="settings.minute" class="input-lg bigger form-control form-control-inline">
          <option value="{{ n }}" ng-repeat="n in range(0,59)">{{ n }}</option>
        </select>
        <br/>
        <br/>
        <br/>
        <button class="btn btn-block btn-lg btn-primary bigger" ng-click="saveDateTime()">Save Date/Time</button>
        </div>
      </div>

      <div ng-if="settings.mode == 'calibrate'">
        <br/>
        <div class="list-group-item">
        <table class="calibration">
          <tr ng-if="!machine.opticalEncoder">
            <td>
              <span class="large-text white">Calibrated Voltage:</span>
            </td>
            <td>
              <span class="large-text white">{{ machine.angleCalibrationVoltage | number : 2 }}</span>
            </td>
          </tr>
          <tr ng-if="!machine.opticalEncoder">
            <td>
              <span class="large-text white">Encoder Voltage:</span>
            </td>
            <td>
              <span class="large-text white">{{ machine.rawAngle | number : 2 }}</span>
            </td>
          </tr>
          <tr ng-if="machine.opticalEncoder">
            <td>
              <span class="large-text white">Calibrated Position:</span>
            </td>
            <td>
              <span class="large-text white">{{ machine.startPosition | number : 0 }}</span>
            </td>
          </tr>
          <tr ng-if="machine.opticalEncoder">
            <td>
              <span class="large-text white">Current Position:</span>
            </td>
            <td>
              <span class="large-text white">{{ machine.currentPosition | number : 2 }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="large-text white">Angle Reading:</span>
            </td>
            <td>
              <span class="large-text white">{{ machine.angle | number : 0 }}&deg;</span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="btn-group btn-group-justified">
                <div class="btn-group btn-group-justified">
                  <button class="btn btn-lg btn-primary bigger" ng-click="calibrate();">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <span ng-if="!machine.hasJoystick">Calibrate</span>
                    {{ machine.angleCalibrationDegree | number: 0 }}&deg
                  </button>
                </div>

                <!-- Enable and disable angle limits -->
                <div class="btn-group btn-group-justified" ng-if="machine.hasJoystick">
                  <button class="btn btn-lg btn-primary bigger" ng-if="machine.applyAngleLimits" ng-click="removeAngleLimits();">
                    Limits: On
                  </button>
                  <button class="btn btn-lg btn-primary bigger" ng-if="!machine.applyAngleLimits" ng-click="applyAngleLimits();">
                    Limits: Off
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </table>
        </div>
      </div>

      <div ng-if="settings.mode == 'wifi'">
        <br/>
        <div class="list-group-item">
            <h2>WiFi Settings <a ng-href="" ng-click="getNetworkStatus()"><span class="glyphicon glyphicon-refresh"></span></a></h2>

            <div ng-if="!loadingNetwork">
              Hostname: {{ network.hostname }} <br/>
              Private IP: {{ network.privateIp }} <br/>
              Public IP: {{ network.publicIp }} <br/>
              Location: {{ network.geoip.city }} {{ network.geoip.region_name }} <br/>
              Online: {{ network.isOnline ? 'Yes' : 'No' }} <br/>
            </div>

        </div>
      </div>

      <br/>
      <div class="list-group-item">
        <a ng-click="goBack()">
          <button class="btn btn-block btn-lg btn-primary bigger">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Go Back</span>
          </button>
        </a>
      </div>

      <!--<h3>Return To:</h3>
      <div class="list-group-item">
        <a href="#/app/patients">
          <button class="btn btn-block btn-lg btn-primary bigger">
            <span class="glyphicon glyphicon-user"></span>
            <span>Patient List</span>
          </button>
        </a>
        <a href="#/app/current">
          <button class="btn btn-block btn-lg btn-primary bigger">
            <span class="glyphicon glyphicon-time"></span>
            <span>Current Session</span>
          </button>
        </a>-->
      </div>

    </div>
  </div>


</div>
