

<div class="list-group-item">
    <button class="btn btn-primary bigger" ng-click="joystickDown();">Down</button>
    <button class="btn btn-primary bigger" ng-click="joystickStop();">Stop</button>
    <button class="btn btn-primary bigger" ng-click="joystickUp();">Up</button>
</div>

<div class="list-group-item center">
    <span>
        Shaft Angle
    </span>
    <h1>
      <span ng-if="machine.shaftAngle != undefined" class="one-height">
        {{ machine.shaftAngle | number : 0 }}&deg;
      </span>
      <span ng-if="machine.shaftAngle == undefined">-</span>
    </h1>
</div>
<div class="list-group-item center">
    <span>
        Knee Angle
    </span>
  <h1>
      <span ng-if="machine.angle != undefined" class="one-height">
        {{ machine.angle | number : 0 }}&deg;
      </span>
    <span ng-if="machine.angle == undefined">-</span>
  </h1>
</div>
<div class="list-group-item center">
    <span>
        Hold Time
    </span>
    <h1 ng-class="{orange: machine.session.holdTime >0 && machine.session.holdTime < machine.holdTimeConfig, green: machine.session.holdTime >= machine.holdTimeConfig}">
              <span ng-if="machine.session.holdTime != null" class="one-height">
                {{ machine.session.holdTime | secondsToDateTime | date:'mm:ss'}}
              </span>
        <span ng-if="machine.session.holdTime == null">-</span>
    </h1>
</div>
<div class="list-group-item center">
 <span>Low/High Angle</span>
 <h1>
     {{ machine.session.lowAngle | number : 0 }}&deg; /
     {{ machine.session.highAngle | number : 0 }}&deg;
 </h1>
</div>
<div class="list-group-item center">
 <h1>{{ machine.session.repetitions | number : 0 }}</h1>
 <span>Repetitions</span>
</div>

<div class="item item-divider">
    Machine State
</div>
<div class="card">
  <div class="item item-text-wrap">
    Motor Switch: {{ machine.motorSwitch }} <br/>
    Motor State: {{ machine.joystickMotorState }}
  </div>
</div>

<div class="item item-divider">
  Joystick: {{ machine.joystick | number : 2 }} <br/>
  Joystick Direction 1: {{ machine.joystickDirection1 }} <br/>
  Joystick Direction 2: {{ machine.joystickDirection2 }} <br/>
</div>
<div class="item">
  <div class="item range">
    <i class="icon glyphicon glyphicon-backward"></i>
    <input type="range" ng-model="machine.joystickSlider" min="0" max="500" value="250" ng-change="updateJoystick()">
    <i class="icon glyphicon glyphicon-forward"></i>
  </div>
</div>

<div class="item">
  <button class="button icon-left button-calm" ng-click="stop()">
    <i class="icon ion-stop"></i>
    Stop Session
  </button>
  <button class="button icon-left button-calm" style="float: right;" ng-click="reset()">
    <i class="icon glyphicon glyphicon-refresh"></i>
    Reset
  </button>
</div>
