

.session-number {
    font-size: 120px;
    color: white;
    text-align: center;
    clear: both;
    margin: 0px;
}

.session-title {
    margin-top: 2px;
    margin-bottom: 0px;
    float: left;
}

table.calibration {
    width: 100%;
}

.large-text {
    font-size: 25px;
}

.white {
    color: white;
}

.one-height {
  line-height: 1;
}

.red {
    color: red;
}
.orange {
    color: orange;
}
.green {
    color: #09FE01;
}
.gray {
    color: #c8c8c8;
}

.right-icon {
    float: right;
    font-size: 25px;
    line-height: 2;
}
.icon-small-line {
    line-height: 1.5;
}

.clear {
    clear: both;
}

.volume {
    font-size: 19px;
    top: -7px;
}
input[type=range].volumeSlider {
    width: 88%;
    display: inline-block;
}

.bigger {
    font-size: 25px;
}
.ui-keyboard-preview-wrapper input.bigger {
    font-size: 25px !important;
}

.inline-block {
  display: inline-block;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}

.glyphicon {
  vertical-align: middle;
}

.float-right {
  float: right;
}

a:hover, a:focus {
  text-decoration: none;
}

.num-input {
  display: inline-block;
  width: 70px;
}
.num-input.wider {
  width: 80px;
}

#holdTime_keyboard.ui-keyboard div {
    font-size: 35px;
}
#lowGoal_keyboard.ui-keyboard div {
    font-size: 35px;
}
#highGoal_keyboard.ui-keyboard div {
    font-size: 35px;
}
#highGoal,#lowGoal,#holdTime {
  padding: 0px;
  padding-left: 10px;
}

input.large-spinner {
  height: 105px;
  width: 140px !important;
  text-align: center;
  font-size: 65px;
  padding: 0px;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  height: 55px;
  width: 70px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
  font-size: 50px;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 20px;
}
