

.session-number {
    font-size: 120px;
    color: white;
    text-align: center;
    clear: both;
    margin: 0px;
}

.session-title {
    margin-top: 2px;
    margin-bottom: 0px;
    float: left;
}

table.calibration {
    width: 100%;
}

.large-text {
    font-size: 25px;
}

.white {
    color: white;
}

.one-height {
  line-height: 1;
}

.red {
    color: red;
}
.orange {
    color: orange;
}
.green {
    color: #09FE01;
}
.gray {
    color: #c8c8c8;
}

.right-icon {
    float: right;
    font-size: 25px;
    line-height: 2;
}

.clear {
    clear: both;
}

.bigger {
    font-size: 25px;
}
.ui-keyboard-preview-wrapper input.bigger {
    font-size: 25px !important;
}

.inline-block {
  display: inline-block;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}

.glyphicon {
  vertical-align: middle;
}

.float-right {
  float: right;
}

.num-input {
  display: inline-block;
  width: 70px;
}
.num-input.wider {
  width: 80px;
}

#holdTime_keyboard.ui-keyboard div {
    font-size: 35px;
}
#lowGoal_keyboard.ui-keyboard div {
    font-size: 35px;
}
#highGoal_keyboard.ui-keyboard div {
    font-size: 35px;
}

